
.next{
      background: url('../images/address_img.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-bottom: 50px;
      position: relative;
      height: 283px;
}

.next::before{
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      background: url('../images/diamond_red.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
}

.next-inner{
      padding: 60px 0;
}



.next-inner-nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      h3{
            font-size: 38px;
            color: #fff;
            font-family: 'Poppins';
            text-transform: capitalize;
      }
      span{
            font-size: 25px;
            color: #c5c5c5;
            font-family: 'Playfair Display';
            text-transform: capitalize;
      }
      p{
            font-size: 20px;
            color: #c5c5c5;
            font-family: 'Playfair Display';
            text-transform: capitalize;
            text-align: center;
      }
}

.next-inner-nav-number{
      display: flex;
      margin-top: 15px;
      align-items: center;
      gap: 10px;
      p{
            font-size: 18px;
            color: #c5c5c5;
            font-family: 'Poppins';
            text-transform: none;
      }
      i{
            color: #c5c5c5;
            background-color: #727272;
            padding: 10px;
            border-radius: 50%;
      }
}

.next-inner-block{
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: -20px;
      box-shadow: 0 0 5px 0 #c5c5c5;
}

.next-inner-block-form{
      display: flex;
      justify-content: center;
      position: relative;
}

.next-inner-block-form-text{
      background-color: #fff;
      padding: 16px 14px;
      width: 210px;
      border: none;
      outline: none;
}

@media only screen and (min-width: 768px) {
      .next-inner-block-form-text{
            width: 350px;
            padding-left: 50px;
      }
      .next-inner-block-form::before{
            position: absolute;
            content: "";
            background: url('../images/email_icon.png');
            width: 20px;
            height: 15px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            top: 17px;
            left: 15px;
            z-index: 5;
      }
}

@media only screen and (min-width: 1024px) {
      .next-inner-block-form-text{
            width: 495px;
      }
}


.next-inner-block-form-submit{
      font-size: 14px;
      color: #fff;
      background-color: #fd405e;
      border: none;
      padding: 16px 0;
      font-family: 'Poppins';
      width: 100px;
}

@media only screen and (min-width: 1024px) {
      .next-inner-block-form-submit{
            width: 160px;
      }
}